<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Bienvenidxs a MercadoLiebre</title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href=“https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap” rel=“stylesheet” />
        <link href=“https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css” rel=“stylesheet” />
        <link rel="stylesheet" href="static/css/styles.css">
    </head>
    <body>
        <header>
            <img src="static/images/logo-mercado-liebre.svg" width="360" alt="Mercado Liebre">
            <p>Lugar para poner barra de búsqueda</p>
            <p class="test"> <i class="fas fa-hand-holding-usd"></i> Comprá en cuotas y sin tarjeta de crédito </p>
            <nav>
             <ul>
                <li><a href="#">Ofertas</a></li>
                <li><a href="#">Tiendas Oficiales</a></li>
                <li><a href="#">Vender</a></li>
                <li><a href="#">Ayuda</a></li>
             </ul>
             <ul>
                 <li><a href="#""></i>Creá tu cuenta <i class="fas fa-credit-card"></i></a></li>
                 <li><a href="#""></i>Ingresá <i class="fas fa-sign-in-alt"></i> </a></li>
                 <li><a href="#""></i>Mis compras <i class="fas fa-shopping-basket"></i> </a></li>
            </ul>
            </nav>

            <div class="burger-menu">
                <i class="fas fa-hamburger"></i>
              </div>

            <section>
                <img src="static/images/img-home-banner.jpg" width="360" alt="Banner de ofertas">
            </section>
        </header>
            <main>
                <section class="productos">
                    <h3> Basado en tu última visita </h3>
                    <img src="static/images/img-cafetera-moulinex.jpg" width="360" alt="Cafetera">
                    <!--iconito de camión-->
                    <p class="precios"> $6.770 </p>
                    <p class="descuentos"> 40% OFF </p>
                    <h4 class="descripciones"> Cafetera Moulinex </h4>
                    <img src="static/images/img-macbook-pro-2019.jpg" width="360" alt="MacBook" class="product_img">
                    <!--iconito de camión-->
                    <p class="precios"> $230.000</p>
                    <p class="descuentos"> 20% OFF</p>
                    <h4 class="descripciones"> MacBook Pro 2019 </h4>
                    <img src="static/images/img-samsung-galaxy-s10.jpg" width="360" alt="Smartphone" class="product_img">
                    <!--iconito de camión-->
                    <p class="precios"> $70.500</p>
                    <p class="descuentos">10% off</p>
                    <h4 class="descripciones"> Samsung Galaxy S10</h4>
                    <img src="static/images/img-tv-samsung-smart.jpg" width="360" alt="Smartphone" class="product_img">
                    <!--iconito de camión-->
                    <p class="precios"> $23.200</p>
                    <p class="descuentos"> 5% off</p>
                    <h4 class="descripciones"> SmartTv Samsung 43"</h4>
                </section>
                <section class="productos">
                    <h3> Sección de Ofertas </h3>
                    <img src="static/images/img-cafetera-moulinex.jpg" width="360" alt="Cafetera" class="product_img">
                    <!--iconito de camión-->
                    <p class="precios"> $6.770</p>
                    <p class="descuentos"> 40% off</p>
                    <h4 class="descripciones">Cafetera Moulinex </h4>
                    <img src="static/images/img-macbook-pro-2019.jpg" width="360" alt="MacBook" class="product_img">
                    <!--iconito de camión-->
                    <p class="precios"> $230.000</p>
                    <p class="descuentos"> 20% off</p>
                    <h4 class="descripciones"> MacBook Pro 2019</h4>
                    <img src="static/images/img-samsung-galaxy-s10.jpg" width="360" alt="Smartphone" class="product_img">
                    <!--iconito de camión-->
                    <p class="precios"> $70.500</p>
                    <p class="descuentos">10% off</p>
                    <h4 class="descripciones">Samsung Galaxy S10 </h4>
                    <img src="static/images/img-tv-samsung-smart.jpg" width="360" alt="Smartphone" class="product_img">
                    <!--iconito de camión-->
                    <p class="precios"> $23.200 </p>
                    <p class="descuentos"> 5% off </p>
                    <h4 class="descripciones"> SmartTv Samsung 43"</h4>
                </section>
            </main>
            <footer>
                <section> 
                    ● Pagá con tarjeta o en efectivo
                        Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                        puntos de pago. ¡Y siempre es seguro!

                </section>
                
                <section>
                    <h3> Envío gratis desde $ 2.500 </h3>
                    <p> 
                        Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                        productos. Es un beneficio de Mercado Puntos
                    </p>
                 </section>
                 
                <section> 
                    <h3> Seguridad, de principio a fin </h3>
                      <p>
                        ¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                        porque estás siempre protegid@ 
                     </p>
                </section>
                   
                <section> 
                    <h3> Copyright © 1999-2020 MercadoLiebre S.R.L </h3>
                </section>
            </footer>
    
    </body>
</html>