<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Bienvenidxs a MercadoLiebre</title>
        <link rel="stylesheet" href="css/styles.css">
    </head>
    <body>
        <header class="fondo-amarillo">
            <img src="static/images/logo-mercado-liebre.svg" width="360" alt="Mercado Liebre">
            <p>Lugar para poner la barra de búsqueda</p>
            <p><!--iconito de mano-->Comprá en cuotas y sin tarjeta de crédito</p>
        </header>
            <nav>
             <ul>
                <li><a href="#">Ofertas</a></li>
                <li><a href="#">Tiendas Oficiales</a></li>
                <li><a href="#">Vender</a></li>
                <li><a href="#">Ayuda</a></li>
             </ul>
             <ul>
                 <li><a href="#""><i class="fa-solid fa-user"></i>.Creá tu cuenta</a></li>
                 <li><a href="#""><i class="fa-solid fa-arrow-right-to-bracket"></i>Ingresá</a></li>
                 <li><a href="#""><i class="fa-solid fa-basket-shopping"></i>Mis compras</a></li>
             </ul>
            </nav>
            <section>
                <img src="static/images/img-home-banner.jpg" width="360" alt="Banner de ofertas">
            </header>>
            <main>
                <section>
                    <h3> Basado en tu última visita </h3>
                    <img src="static/images/img-cafetera-moulinex.jpg" width="360" alt="Cafetera">
                    <p class="precio"> $6.770 </p>
                    <p class="descuento"> 40% OFF </p>
                    <p class="descripcion"> Cafetera Moulinex </p>
                    <img src="static/images/img-macbook-pro-2019.jpg" width="360" alt="MacBook" class="product_img">
                    <p>$230.000</p>
                    <p>20% OFF</p>
                    <p>MacBook Pro 2019</p>
                    <img src="static/images/img-samsung-galaxy-s10.jpg" width="360" alt="Smartphone" class="product_img">
                    <p>$70.500</p>
                    <p>10% off</p>
                    <h3>Samsung Galaxy S10</h3>
                    <img src="static/images/img-tv-samsung-smart.jpg" width="360" alt="Smartphone" class="product_img">
                    <p>$23.200</p>
                    <p>5% off</p>
                    <h3>SmartTv Samsung 43"</h3>
                </section>
                <section>
                    <p> Sección de Ofertas </p>
                    <img src="static/images/img-cafetera-moulinex.jpg" width="360" alt="Cafetera" class="product_img">
                    <!--iconito de camión-->
                    <p>$6.770</p>
                    <p>40% off</p>
                    Cafetera Moulinex
                    <img src="static/images/img-macbook-pro-2019.jpg" width="360" alt="MacBook" class="product_img">
                    <!--iconito de camión-->
                    <p>$230.000</p>
                    <p>20% off</p>
                    <h3>MacBook Pro 2019</h3>
                    <img src="static/images/img-samsung-galaxy-s10.jpg" width="360" alt="Smartphone" class="product_img">
                    <!--iconito de camión-->
                    <p>$70.500</p>
                    <p>10% off</p>
                    <h3>Samsung Galaxy S10</h3>
                    <img src="static/images/img-tv-samsung-smart.jpg" width="360" alt="Smartphone" class="product_img">
                    <!--iconito de camión-->
                    <p>$23.200</p>
                    <p>5% off</p>
                    <h3>SmartTv Samsung 43"</h3>
                </section>
            </main>
            <footer>
                <section> 
                    ● Pagá con tarjeta o en efectivo
                        Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                        puntos de pago. ¡Y siempre es seguro!

                </section>
                
                <section>
                    <h3> Envío gratis desde $ 2.500 </h3>
                    <p> 
                        Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                        productos. Es un beneficio de Mercado Puntos
                    </p>
                 </section>
                 
                <section> 
                    <h3> Seguridad, de principio a fin </h3>
                      <p>
                        ¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                        porque estás siempre protegid@ 
                     </p>
                </section>
                   
                <section> 
                    <h3> Copyright © 1999-2020 MercadoLiebre S.R.L </h3>
                </section>
            </footer>
    
    </body>
</html>