header {
   background-color: #eac926;
}

*{
   font-family: 'Roboto', sans-serif;
}

p {
   font-size: 12px;
   color: black;
}

h3 {
   color: black;
}

.productos h3 {
   font-size: 24px;
}

.precios {
   font-size: 24px;
}

.productos .precios {
   font-size: 18px;
} 

.productos .descuentos, .productos .descripciones {
   font-size: 16px;
} 

.test {
   text-align: center;
}

.test2 {
   text-align: left;
}

.footer-icons {
   text-align: center;
   color: blue;
}

div.burger-menu i {
   background-color: #0044AA;
   border-radius: 5px;
   color: #FFF;
   font-size: 20px;
   height: 40px;
   margin: 10px 0px 20px 0px;
   padding: 10px;
   width: 40px;
}

div.burger-menu{
   text-align: center;
}

main {
   margin:auto;
   width: 90% ;
}

.fa-truck {
   color: green;

}

section div {
   border-top: solid 1px #ebebeb;
   padding: 0 15px;
   background-color: white;
}

body {
   background-color: #ebebeb; 
}


